global
    daemon
    log         127.0.0.1 local0

    chroot      /var/empty
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        noroot
    group       noroot

    stats socket /var/run/haproxy-stats.sock mode 666 level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

userlist controller
    user admin insecure-password mypassword

frontend  main
    bind *:80
    # bind *:443 ssl # To be completed ....

    default_backend             app

backend app
    balance     roundrobin
    option      httpchk HEAD /
